.admin-bar #headerBar {
	top: 46px;
}
.admin-bar #headerBar.sticky {
	top: 0;
}
@media screen and (min-width: 783px) {
	.admin-bar #headerBar {
		top: 32px !important;
	}
}

.headerMenu {
	background-color: $white;
	position: absolute;
	left: 0;
	transition: 0.3s;
	top: 0;
	width: 100%;
	z-index: 20;

	&.sticky {
		position: fixed;
	}
}
.navbar-brand {
	img {
		display: block;
		width: 160px;
	}
}
